<div id="hdr">

	<div class="wrap">

		<h1>Singlesnet</h1>

	</div>

</div>

<div id="wrap">

<div id="profile" class="group">

<h2>Lorem ipsum dolor create profile.</h2>

<div id="form">
	<h3>Create Your Profile</h3>
	
	<%= render "edit_form" %>
	
	<div id="about_tips">
	<p>About Me Tips:</p>
	<ul>
		<li>Lorem ipsum dolor lorem</li>
		<li>Lorem ipsum dolor lorem</li>
		<li>Lorem ipsum dolor lorem</li>
	</ul>
	</div>
	
</div>

	
</div>
	
</div>