

<div id="hdr">
  <h1>Singlesnet.com</h1>
</div>
<div id="content" class="wrap profile_details">

  <h2>Almost Done! Create your profile below.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet sem nulla. Aliquam erat volutpat.</p>

  <%= render "edit_form" %>
	
</div>
