/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_self
 *= require_tree . 
*/
body {
  padding: 5px;
}

#errors {
  color: red;
}

#gender_select label {
  display: inline-block;
}

#user_sex {
  width: 80px;
}

#user_sex_seeking {
  width: 80px;
}

#height label {
  display: inline-block;
}

#user_feet {
  width: 60px;
}

#user_inches {
  width: 60px;
}

#banner {
  background-color: blue;
  height: 70px;  
}

#center {
  background-color: pink;
  margin: 50%;
}

#banner-text {
  color: white;
  padding: 15px;
}

#birthday label{
  display: inline-block;
}

#user_birthday_month {
  width: 60px;
}

#user_birthday_day {
  width: 60px;
}

#user_birthday_year {
  width: 60px;
}