/*
 *= require application
 */

body {
    background: url(v1/bg_body.gif) repeat-x scroll left top #F4F4F4;
    color: #333333;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
a {
    color: #1467CA;
}
textarea, input {
    outline: medium none;
}
#hdr {
    background: url(v1/bg_hdr.jpg) no-repeat scroll left top transparent;
    height: 73px;
    margin: 0 0 30px;
    width: auto;
}
#hdr h1 {
    display: none;
}
.wrap {
    margin: auto;
    width: 1000px;
}
#modal {
    background: url(v1/bg_modal.gif) repeat-y scroll left top #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #333;
    margin: 0 auto 30px;
    width: 800px;
}
#modal h2 {
    font-size: 30px;
    color: #67befd;
    margin: 0 0 20px;
}
#modal form {
    float: left;
    padding: 30px;
    width: 440px;
}
#modal form ul li {
    color: #999999;
    font-size: 14px;
    line-height: 22px;
    list-style: none outside none;
    margin: 10px 0 15px;
}
#modal form ul li.button {
    text-align: center;
}
#modal form ul li.last {
    margin: 0;
    text-align: center;
}
#modal form ul li label {
    float: left;
    font-size: 16px;
    margin: 0 0 10px;
}
#modal form input[type="text"], #modal form input[type="password"], form textarea {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px #CCCCCC inset;
    color: #999999;
    font-size: 16px;
    padding: 4px;
}
#modal_benefits {
    float: right;
    width: 300px;
}
#modal_benefits h3 {
    color: #999999;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}
#modal_benefits ul li {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0 30px;
    text-align: center;
}
#modal_benefits ul li img {
    margin: 0 0 5px;
}
#modal_benefits ul li h4, #benefits ul li p {
    text-align: center;
}
#modal_benefits ul li h4 {
    margin: 0 0 5px;
}

#content.profile_details {
	padding: 30px;
	background: #fff url(v1/bg_profile.jpg) no-repeat right top;
}

#content.profile_details form {
	margin: 30px 0 0 0;
}

#content.profile_details p {
	margin-right: 500px;
	line-height: 24px;
}


#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #969696;
    margin: 0 auto 30px;
    padding: 30px 30px 10px;
    width: 940px;
}
#content h2 {
    font-size: 30px;
    margin: 0 0 20px;
    color: #67befd;
}
#content p {
    color: #999999;
    font-size: 18px;
    line-height: 20px;
    margin: 15px 0 15px 0;
}
#content .profile {
    border: 1px solid #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
    width: 277px;
}
#content .profile .profile_picture {
    float: left;
    margin: 0 20px 0 0;
}
#content .profile.last {
    margin-right: 0;
}
#content .profile h3 {
    color: #1467CA;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
#content .profile p {
    margin: 0 0 5px;
}
#content .profile p a {
    color: #1467CA;
    font-size: 12px;
    font-weight: bold;
}
#content .profile p.info {
    font-size: 12px;
}
#content .profile p.status {
    color: #65B600;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#content .profile ul li {
    display: inline;
    list-style: none outside none;
}
#landing {
    background: url(v1/bg_landing_1.jpg) no-repeat scroll right top #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px #969696;
    margin: 0 auto 30px;
    padding: 40px;
    position: relative;
    width: 920px;
}
#landing h2 {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -1px;
}
#landing p {
    color: #999999;
    font-size: 24px;
}
#landing p.testimonial {
    bottom: 20px;
    color: #333333;
    font-size: 12px;
    position: absolute;
    right: 20px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
#landing form {
    margin: 40px 0 0;
}
#landing form ul li {
    list-style: none outside none;
    margin: 15px 0;
    width: auto;
}
#landing form ul li.last {
    margin: 20px 0 0;
}
#landing form ul li label {
    color: #999999;
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
}
#landing form ul li select {
}
#landing form ul li input[type="text"] {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px #CCCCCC inset;
    color: #999999;
    font-size: 16px;
    padding: 8px;
}
#landing form ul li input[type="submit"], form input[type="submit"] {
    background: url(v1/btn_green.png) no-repeat scroll left top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 24px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    height: 70px;
    margin: 0 0 0 -4px;
    outline: medium none;
    text-shadow: 0 -1px 0 #4F710B;
    text-transform: uppercase;
    width: 308px;
}
#landing form ul li input[type="submit"]:hover, form input[type="submit"]:hover {
    background-position: left bottom;
}
#landing form ul li input[type="submit"]:active, form input[type="submit"]:active {
    background-position: right top;
}
#benefits {
    background: url(v1/bg_benefits.png) repeat-x scroll left bottom #F5F5F5;
    padding: 0;
}
#benefits h3 {
    font-size: 24px;
}
#benefits ul li {
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 20px;
    list-style: none outside none;
    margin: 0 0 20px;
    text-align: center;
    width: 250px;
}
#benefits ul li img {
    margin: 20px 0;
}
#benefits ul li h4, #benefits ul li p {
    text-align: center;
}
#benefits ul li h4 {
    margin: 0 0 5px;
}
#ftr {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    color: #999999;
    padding: 40px 0;
}
#ftr ul li {
    float: left;
    list-style: none outside none;
    margin: 0 20px 0 0;
    width: 310px;
}
#ftr ul li h5 {
    font-size: 12px;
    margin: 0 0 10px;
}
#ftr ul li p {
    font-size: 12px;
    line-height: 18px;
}

/* sn form */
.formQuestion label, .profileQuestion label {
    float: left;
    width: 125px;
}
.formQuestion, .profileQuestion {
    clear: both;
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0;
}
#disclaimer p {
    font-size: 14px;
    color: #666;
    margin: 15px 0 15px 0;
    line-height: 20px;
}
.core_error {
    font-size: 12px;
    color: red;
    background: #ffebeb;
    border-radius: 5px;
    padding: 10px;
}

.core_error p {
    margin: 5px;
}
.core_error br:last-child {
	margin: 0;
}

form label[for=about_me] {
    display: block;
    float: none;
    margin: 0 0 10px 0;
}

.profile_error {
	color: red;
	font-weight: bold;
	margin-bottom: 30px;
}

/* end sn form */

.group:before, .group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
}


/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none; 
}
   
#boxes .window {
  position:absolute;
  display:none;
  z-index:9999;
}

/* Jquery select box CSS */
.selectBox-dropdown {
    background: url(v1/bg_selectbox.gif) repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #999999;
    cursor: default;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    outline: medium none;
    padding: 2px 28px 2px 4px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}

.profile_details .selectBox-dropdown {
    width: 220px;
}

.selectBox-dropdown:focus, .selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666666;
}
.selectBox-dropdown.selectBox-menuShowing {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
    display: inline-block;
    overflow: hidden;
    padding: 0.2em 0.3em;
    white-space: nowrap;
    width: 100%;
}
.selectBox-dropdown .selectBox-arrow {
    background: url(v1/select_arrow.png) no-repeat scroll 50% center transparent;
    border-left: 1px solid #BBBBBB;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
}
.selectBox-dropdown-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #666666;
    border-right: 1px solid #666666;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #666666;
    font-size: 14px;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 99999;
}
.selectBox-inline {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    outline: medium none;
    overflow: auto;
    width: 250px;
}
.selectBox-inline:focus {
    border-color: #666666;
}
.selectBox-options, .selectBox-options LI, .selectBox-options LI A {
    cursor: default;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.selectBox-options LI A {
    background: none no-repeat scroll 6px center transparent;
    line-height: 1.5;
    overflow: hidden;
    padding: 0 0.5em;
    white-space: nowrap;
}
.selectBox-options LI.selectBox-hover A {
    background-color: #EEEEEE;
}
.selectBox-options LI.selectBox-disabled A {
    background-color: transparent;
    color: #888888;
}
.selectBox-options LI.selectBox-selected A {
    background-color: #E0E4F0;
}
.selectBox-options .selectBox-optgroup {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 0.3em;
    white-space: nowrap;
}
.selectBox.selectBox-disabled {
    color: #888888 !important;
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    border-color: #666666;
    opacity: 0.5;
}
.selectBox-inline.selectBox-disabled {
    color: #888888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}
