<div id="ftr" class="group">
  <div class="wrap">
    <ul>
      <li>
        <h5>Free Online Dating</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis turpis nulla. Maecenas vestibulum libero odio, at vehicula dui. Cras sodales ipsum vitae enim bibendum non euismod felis pretium. Quisque sed risus arcu. In sed dui magna. Ut cursus aliquam mauris convallis laoreet. Proin luctus magna vel diam aliquam eget consequat nisi aliquam. Quisque fringilla mauris sit amet turpis pulvinar sodales.</p>
      </li>
      <li>
        <h5>Online Singles</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis turpis nulla. Maecenas vestibulum libero odio, at vehicula dui. Cras sodales ipsum vitae enim bibendum non euismod felis pretium. Quisque sed risus arcu. In sed dui magna. Ut cursus aliquam mauris convallis laoreet. Proin luctus magna vel diam aliquam eget consequat nisi aliquam. Quisque fringilla mauris sit amet turpis pulvinar sodales.</p>
      </li>
      <li class="last">
        <h5>Online Chat</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis turpis nulla. Maecenas vestibulum libero odio, at vehicula dui. Cras sodales ipsum vitae enim bibendum non euismod felis pretium. Quisque sed risus arcu. In sed dui magna. Ut cursus aliquam mauris convallis laoreet. Proin luctus magna vel diam aliquam eget consequat nisi aliquam. Quisque fringilla mauris sit amet turpis pulvinar sodales.</p>
      </li>
    </ul>
  </div>
</div>