<label for="height">What is your height?</label>
<select name="height" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">4' 4"</option>
<option value="2">4' 5"</option>
<option value="3">4' 6"</option>
<option value="4">4' 7"</option>
<option value="5">4' 8"</option>
<option value="6">4' 9"</option>
<option value="7">4' 10"</option>
<option value="8">4' 11"</option>
<option value="9">5'</option>
<option value="10">5' 1"</option>
<option value="11">5' 2"</option>
<option value="12">5' 3"</option>
<option value="13">5' 4"</option>
<option value="14">5' 5"</option>
<option value="15">5' 6"</option>
<option value="16">5' 7"</option>
<option value="17">5' 8"</option>
<option value="18">5' 9"</option>
<option value="19">5' 10"</option>
<option value="20">5' 11"</option>
<option value="21">6'</option>
<option value="22">6' 1"</option>
<option value="23">6' 2"</option>
<option value="24">6' 3"</option>
<option value="25">6' 4"</option>
<option value="26">6' 5"</option>
<option value="27">6' 6"</option>
<option value="28">6' 7"</option>
<option value="29">6' 8"</option>
</select>
<label for="bodytype">What is your body type?</label>
<select name="bodytype" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">Average</option>
<option value="2">Slim / Slender</option>
<option value="3">Fit / Athletic</option>
<option value="4">Few extra pounds</option>
</select>
<label for="hair_color">What is your hair color?</label>
<select name="hair_color" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">Auburn / Red</option>
<option value="2">Bald</option>
<option value="3">Black</option>
<option value="4">Blonde</option>
<option value="5">Dark blonde</option>
<option value="6">Dark brown</option>
<option value="7">Gray / White</option>
<option value="8">Light brown</option>
<option value="9">Salt and pepper gray</option>
</select>
<label for="eye_color">What is your eye color?</label>
<select name="eye_color" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">Blue</option>
<option value="2">Brown</option>
<option value="3">Green</option>
<option value="4">Gray</option>
<option value="5">Hazel</option>
<option value="6">Other</option>
</select>
<label for="race">What is your race / ethnicity?</label>
<select name="race" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">Black / African descent</option>
<option value="2">Asian</option>
<option value="3">White / Caucasian</option>
<option value="4">East Indian</option>
<option value="5">Hispanic / Latino</option>
<option value="6">Middle Eastern</option>
<option value="7">Multi-racial</option>
<option value="8">Native American</option>
<option value="9">Pacific Islander</option>
<option value="10">Other</option>
</select>
<label for="occupation">What is your occupation?</label>
<select name="occupation" onchange="">
<option value="" selected>&lt;select one&gt;</option>
<option value="1">Accounting</option>
<option value="2">Actor / Actress</option>
<option value="3">Administrative</option>
<option value="4">Advertising</option>
<option value="5">Agriculture</option>
<option value="6">Architect</option>
<option value="7">Arts</option>
<option value="8">Banking</option>
<option value="9">Biotechnology</option>
<option value="10">Business Owner</option>
<option value="12">Computers, Hard</option>
<option value="13">Computers, Soft</option>
<option value="14">Construction</option>
<option value="15">Consulting</option>
<option value="16">Customer Service</option>
<option value="17">Engineering</option>
<option value="18">Entrepreneur</option>
<option value="19">Financial Services</option>
<option value="20">Government</option>
<option value="21">Graphic Design</option>
<option value="22">Health-care</option>
<option value="23">Hospitality / Tourism</option>
<option value="25">Human Resources</option>
<option value="26">Info. Technology</option>
<option value="27">Insurance</option>
<option value="28">Internet</option>
<option value="29">Law Enforcement</option>
<option value="30">Legal</option>
<option value="31">Manufacturing</option>
<option value="32">Marketing</option>
<option value="33">Military</option>
<option value="34">Maintenance</option>
<option value="35">Nanny / Child Care</option>
<option value="36">Nursing</option>
<option value="37">Pharmaceutical</option>
<option value="38">Public Relations</option>
<option value="39">Real Estate</option>
<option value="40">Restaurant</option>
<option value="41">Recruiting</option>
<option value="42">Retail</option>
<option value="43">Sales</option>
<option value="44">Self-Employed</option>
<option value="45">Science</option>
<option value="11">Social Services</option>
<option value="46">Sports</option>
<option value="47">Student</option>
<option value="48">Teacher</option>
<option value="49">Telecommunications</option>
<option value="50">Transportation</option>
<option value="51">Writer / Editor</option>
<option value="52">Retired</option>
</select></br>
<div>
    <label for="user_about">About Me</label>
    <textarea cols="40" id="user_about" name="user[about]" rows="20"></textarea>
  </div>
</br>
<button name="submit" type="submit" formmethod="post" formaction="http://api.singlesnet.com/api/1.2/signup/submit">
Button!
</button>

